@model TrainingStudio.Models.Classes

@{ ViewData["Title"] = "Edit Classes"; }
@{ Layout = "_Layout2"; }

<h4>Edit Classes</h4>
<hr />
<div class="row">
    <div class="col-md-12 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TrainingType" class="control-label"></label>
                <input asp-for="TrainingType" class="form-control" />
                <span asp-validation-for="TrainingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" type="button" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

